.icon-question {
    background: url('/img/icon-question.png');
    width: 19px;
    height: 15px;
    display: inline-block;
}

.answer-ask {
    font-size: 14px;
    padding: 9px 12px;
    background-color: #68b6e4;
}

.answer-deadline {
    color: #a8a8a8;
    font-size: 11px;
    padding: 9px 12px;
    line-height: 1.2;
}

.answer-title {
    color: #464545;
}

.answer-ask,
.answer-deadline {
    float: right;
}

.answer {
    padding: 41px 20px;
}

.answer-title {
    float: left;
    width: calc(100% - 300px);
}

.answer-ask .icon-question {
    position: relative;
    top: 4px;
}

.answer-conditions {
    margin-top: 45px;
    border: 2px solid #35539b;
    padding: 8px 5px 7px;
}

.conditions-question {
    float: left;
    width: 61px;
    margin-right: 6px;
    color: #35539b;
}

.conditions-question-number {
    font-size: 35px;
    font-weight: bold;
}

.conditions-question-title {
    line-height: 1;
    font-size: 11px;
}

.answer-conditions-title {
    color: #35539b;
    font-size: 20px;
    line-height: 1;
}
.answer-conditions-anons {
    margin-left: 67px;
}

.answer-conditions-text {
    font-size: 11px;
    color: #464545;
}

.answer-item .media-heading {
    color: #35539b;
    font-size: 17px;
}

.answer-item .media-info {
    color: #292929;
    font-size: 17px;
}

.answer-item .media-info-number {
    color: #35539b;
}

.answer-item .media-name {
    font-size: 17px;
    font-weight: bold;
}

.answer-item .media-question {
    padding: 22px 17px 25px;
    background: #eff9ff;
    margin-top: 7px;
    color: #464545;
    font-size: 13px;
    line-height: 1.2;
}

.answer-item .media-heading {
    color: #35539b;
    font-size: 17px;
    font-weight: bold;
}

.answer-list {
    padding-top: 53px;
}

.answer-item .media {
    margin-top: 18px;
}

.answer-item .media-left,
.answer-item .media > .pull-left {
    padding-right: 41px;
}

.answer-item .media .media-question {
    background-color: #efefff;
}

.answer-hr {
    border-bottom: 1px solid #dddddd;
}

.answer-hr {
    padding-top: 24px;
}

.icon-plus {
    background: url('/img/icon-plus.png');
    width: 15px;
    height: 14px;
    display: inline-block;
}

.conditions-question-number {
    line-height: 1;
}

.btn-yet .icon-plus {
    position: relative;
    left: -8px;
    top: 2px;
}

.btn-yet {
    font-size: 13px;
    padding: 9px 15px;
    border-radius: 0;
}

.panel-yet {
    padding-top: 40px;
    padding-bottom: 36px;
}

.answer-gray {
    margin-top: 0;
    border: 1px solid #aeaeae;
    margin-bottom: 10px;
}


@media (max-width: 767px) {

    .answer {
        padding: 41px 15px;
    }

    .answer-title {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .answer-title,
    .answer-ask, 
    .answer-deadline {
        float: none;
    }

    .answer-item .media-left,
    .answer-item .media > .pull-left {
        padding-right: 15px;
    }

    .answer-conditions-title {
        color: #35539b;
        font-size: 18px;
        line-height: 1;
    }
}


