.management-left {
    float: left;
    margin-right: 20px;
}

.management-item {
    padding-bottom: 60px;
}

.archive-item-link:focus,
.archive-item-link:hover,
.archive-item-link {
    text-decoration: none;
}

.management-item-name {
    font-size: 20px;
    line-height: 1.2;
    color: #464545;
}

.management-item-position {
    padding-top: 5px;
    font-size: 17px;
}

.management-item-anons {
    padding-top: 11px;
}

.icon-phone {
    background: url('/img/icon-phone.png');
    width: 20px;
    height: 17px;
    display: inline-block;
}

.icon-email{
    background: url('/img/icon-email.png');
    width: 22px;
    height: 13px;
    display: inline-block;
}

.management-item-call {
    padding-top: 29px;
    font-size: 17px;
}

.management-item-phone .icon-phone {
    position: relative;
    top: 4px;
    margin-right: 6px;
}

.management-item-email {
    display: inline-block;
    padding-left: 42px;
}

.management-item-email .icon-email {
    position: relative;
    top: 2px;
}

.management-item-email,
.management-item-phone {
    text-decoration: none;
}

.management-item {
    padding-bottom: 19px;
    padding-top: 21px;
    padding-left: 26px;
    padding-right: 40px;
    margin-bottom: 22px;
}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (max-width: 767px) {
    .management-left {
        float: none;
        margin-right: 0;
    }

    .management-right {
        margin-top: 15px;
    }
}


@media (max-width: 480px) {
    .management-item-email {
        padding-left: 0;
    }
}