.quiz-title {
    font-size: 20px;
    color: #33519a;
    padding-top: 20px;
    padding-bottom: 40px;
}

.icon-question {
    background: url('/img/icon-question.png');
    width: 19px;
    height: 15px;
    display: inline-block;
}

.quiz-ask {
    font-size: 14px;
    padding: 9px 12px;
    background-color: #68b6e4;
}

.quiz-deadline {
    color: #a8a8a8;
    font-size: 11px;
    padding: 9px 12px;
    line-height: 1.2;
}

.quiz-ask,
.quiz-deadline {
    float: right;
}

.quiz {
    padding: 41px 20px;
}

.quiz-ask .icon-question {
    position: relative;
    top: 4px;
}

.quiz-conditions {
    margin-top: 45px;
    border: 2px solid #35539b;
    padding: 8px 5px 7px;
}

.conditions-question {
    float: left;
    width: 61px;
    margin-right: 6px;
    color: #35539b;
}

.conditions-question-number {
    font-size: 35px;
    font-weight: bold;
}

.conditions-question-title {
    line-height: 1;
    font-size: 11px;
}

.quiz-conditions-title {
    color: #35539b;
    font-size: 20px;
    line-height: 1;
}

.quiz-conditions-anons {
    margin-left: 67px;
}

.quiz-conditions-text {
    font-size: 11px;
    color: #464545;
}

.quiz-item .media-heading {
    color: #35539b;
    font-size: 17px;
}

.quiz-item .media-info {
    color: #292929;
    font-size: 17px;
}

.quiz-item .media-info-number {
    color: #35539b;
}

.quiz-item .media-name {
    font-size: 17px;
    font-weight: bold;
}

.quiz-item .media-question {
    padding: 22px 17px 25px;
    background: #eff9ff;
    margin-top: 7px;
    color: #464545;
    font-size: 13px;
    line-height: 1.2;
}

.quiz-item .media-heading {
    color: #35539b;
    font-size: 17px;
    font-weight: bold;
}

.quiz-list {
    padding-top: 53px;
}

.quiz-item .media {
    margin-top: 18px;
}

.quiz-item .media-left,
.quiz-item .media > .pull-left {
    padding-right: 41px;
}

.quiz-item .media .media-question {
    background-color: #efefff;
}

.quiz-hr {
    border-bottom: 1px solid #dddddd;
}

.quiz-hr {
    padding-top: 24px;
}

.icon-plus {
    background: url('/img/icon-plus.png');
    width: 15px;
    height: 14px;
    display: inline-block;
}

.conditions-question-number {
    line-height: 1;
}

.btn-yet .icon-plus {
    position: relative;
    left: -8px;
    top: 2px;
}

.btn-yet {
    font-size: 13px;
    padding: 9px 15px;
    border-radius: 0;
}

.panel-yet {
    padding-top: 40px;
    padding-bottom: 36px;
}

.quiz-gray {
    margin-top: 0;
    border: 1px solid #aeaeae;
    margin-bottom: 10px;
}

.form-type-user .radio + .radio {
    padding-left: 15px;
}

.form-type-user .radio {
    display: inline-block;
}

.form-quiz .form-control {
    width: 50%;
}

.form-quiz {
    padding-top: 40px;
}

.form-quiz .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 767px) {
    .form-quiz .form-control {
        width: 100%;
    }

    .quiz {
        padding: 41px 15px;
    }

    .quiz-item .media-left,
    .quiz-item .media > .pull-left {
        padding-right: 15px;
    }

    .quiz-conditions-title {
        color: #35539b;
        font-size: 18px;
        line-height: 1;
    }
}


