.btn-date {
    float: right;
    padding: 8px 20px;
}

.report-date {
    background: white;
    padding: 40px 34px;
}

.form-date {
    background: #35539b;
    padding: 16px 25px;
    color: #fff;
}

.btn-date,
.form-date .form-control {
    border-radius: 0;
}

.form-date .form-group + .form-group {
    margin-left: 30px;
}

.form-date .form-control {
    margin-left: 14px;
}

.icon-file {
    background: url('/img/icon-file.png');
    width: 25px;
    height: 25px;
    display: inline-block;
}

.btn-status {
    margin-top: 70px;
    border-radius: 0;
    padding: 8px 12px;
}

.icon-pdf {
    background: url('/img/icon-pdf.png');
    width: 25px;
    height: 23px;
    display: inline-block;
}

.icon-word {
    background: url('/img/icon-word.png');
    width: 25px;
    height: 23px;
    display: inline-block;
}

.icon-all-file {
    background: url('/img/icon-all-file.png');
    width: 25px;
    height: 25px;
    display: inline-block;
}

.table-report > tbody > tr:nth-of-type(even) {
    background-color: #eff9ff;
}

.table-report > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-report {
    margin-top: 47px;
    margin-bottom: 80px;
}

.report-title {
    font-size: 20px;
    color: #33519a;
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .form-date .form-group + .form-group {
        margin-left: 0;
    }

    .btn-status {
        margin-top: 20px;
    }

}