.video {
    padding-top: 51px;
    padding-left: 48px;
    padding-right: 40px;
}

.video-title {
    font-size: 20px;
}

.video-list {
    padding-top: 31px;
}

.video-left {
    float: left;
    margin-right: 20px;
}

.video-item-link:hover,
.video-item-link:focus,
.video-item-link {
    color: #35539b;
    font-size: 20px;
    line-height: 1;
}

.video-item {
    padding-bottom: 60px;
}

.archive-item-link:focus,
.archive-item-link:hover,
.archive-item-link {
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (max-width: 767px) {

    .video {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .video-left {
        float: none;
        margin-right: 0;
    }

    .video-right {
        margin-top: 15px;
    }
}