.btn-date {
    float: right;
    padding: 8px 20px;
}

.zakupki-date {
    background: white;
    margin-top: 12px;
    padding: 40px 34px;
}

.form-date {
    background: #35539b;
    padding: 16px 25px;
    color: #fff;
}

.btn-date,
.form-date .form-control {
    border-radius: 0;
}

.form-date .form-group + .form-group {
    margin-left: 30px;
}

.form-date .form-control {
    margin-left: 14px;
}

.zakupki-list {
    margin-top: 44px;
}

.zakupki-info {
    padding: 34px 33px;
}

.zakupki-number {
    font-size: 17px;
    color: #131313;
}

.zakupki-title {
    font-size: 25px;
    color: #68b6e4;
    padding-top: 14px;
}

.zakupki-description {
    padding-top: 43px;
    font-weight: bold;
}

.zakupki-active .zakupki-status {
    background: #24bc48;
}

.zakupki-status {
    color: #fff;
    padding: 40px 20px 31px;
}

.zakupki-status-text {
    font-size: 17px;
    font-weight: bold;
}

.zakupki-status-time {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.zakupki-download {
    background: #8d8d8d;
}

.zakupki-download {
    background: #8d8d8d;
    padding: 53px 20px 38px;
}

.icon-file {
    background: url('/img/icon-file.png');
    width: 25px;
    height: 25px;
    display: inline-block;
}

.zakupki-download-file:focus,
.zakupki-download-file:hover,
.zakupki-download-file {
    color: #fff;
    text-decoration: none;
}

.zakupki-download-file {
    width: 220px;
    display: inline-block;
}

.zakupki-download-file .icon-file {
    position: relative;
    top: 3px;
    left: -12px;
    float: left;
}

.zakupki-download-file-text {
    display: block;
    line-height: 1.2;
    margin-left: 24px;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

.btn-status {
    margin-top: 70px;
    border-radius: 0;
    padding: 8px 12px;
}

.zakupki-item {
    margin-bottom: 45px;
}

.zakupki-status {
    background-color: #9b3535;
    min-height: 160px;
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .form-date .form-group + .form-group {
        margin-left: 0;
    }

    .zakupki-date {
        padding: 10px;
    }

    .zakupki-download {
        padding: 20px;
    }

    .btn-status {
        margin-top: 20px;
    }

    .zakupki-title {
        font-size: 20px;
    }
    .zakupki-info {
        padding: 10px 20px;
    }

}