
.archive-bg-white {
    margin-left: 15px;
}

@media (min-width: 1200px) {
    .info-right {
        width: calc(100% - 360px);
    }
}

@media (min-width: 1340px) {
    .main .container {
        width: 1340px;
    }
}

@media (max-width: 767px) {
    .contact-info-title {
        margin-top: 20px;
    }

    .contact-info-container {
        padding: 20px;
    }

    .archive-bg-white {
        margin-left: 0;
        background: transparent;
    }
}