.archive-item-link:focus,
.archive-item-link:hover,
.archive-item-link {
    text-decoration: none;
}

.article {
    padding: 40px 48px;
}

.article-title {
    padding-bottom: 36px;
    font-size: 20px;
}

.article-desc {
    padding-top: 46px;
}

.article-news {
    margin-right: -15px;
}

.article-news-left {
    float: left;
    margin-right: 15px;
}

.article-news-right {
    padding-top: 27px;
    padding-right: 15px;
    line-height: 1.2;
}

.article-news-link {
    color: #464545;
}

.article-news-right-title {
    font-size: 17px;
    color: #464545;
}

.article-news-right-desc {
    color: #464545;
    padding-top: 16px;
    font-size: 13px;
}

.article-news-right-date {
    padding-top: 24px;
    font-size: 11px;
    color: #9e9e9e;
}

.article-news-item {
    margin-bottom: 17px;
}

.article-news-bottom {
    padding: 24px 14px 14px;
}

.article-news-bottom-title {
    font-size: 17px;
    color: #464545;
}

.article-news-bottom-desc {
    font-size: 13px;
    padding-top: 4px;
    color: #464545;
    line-height: 1.2;
}

.article-news-bottom-date {
    font-size: 11px;
    color: #9e9e9e;
    padding-top: 13px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .article-news {
        margin-right: 0;
    }

    .article-news {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .article-news {
        margin-right: 0;
    }

    .article-news {
        margin-top: 30px;
    }

    .article {
        padding: 20px;
    }

    .article-news-right {
        padding: 24px 14px 14px;
    }

    .article-news-right-desc {
        padding-top: 4px;
    }

    .article-news-left {
        float: none;
        margin-right: 0;
    }

    .article-news-right-date {
        padding-top: 13px;
    }

}