.btn-date {
    float: right;
    padding: 8px 20px;
}

.report-date {
    background: white;
    padding: 40px 34px;
}

.form-date {
    background: #35539b;
    padding: 16px 25px;
    color: #fff;
}

.btn-date,
.form-date .form-control {
    border-radius: 0;
}

.form-date .form-group + .form-group {
    margin-left: 30px;
}

.form-date .form-control {
    margin-left: 14px;
}

.icon-file {
    background: url('/img/icon-file.png');
    width: 25px;
    height: 25px;
    display: inline-block;
}

.btn-status {
    margin-top: 70px;
    border-radius: 0;
    padding: 8px 12px;
}

.icon-pdf {
    background: url('/img/icon-pdf.png');
    width: 25px;
    height: 23px;
    display: inline-block;
}

.icon-word {
    background: url('/img/icon-word.png');
    width: 25px;
    height: 23px;
    display: inline-block;
}

.icon-all-file {
    background: url('/img/icon-all-file.png');
    width: 25px;
    height: 25px;
    display: inline-block;
}

.table-report > tbody > tr:nth-of-type(even) {
    background-color: #eff9ff;
}

.table-report > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-report {
    margin-top: 47px;
    margin-bottom: 30px;
}

.report-title {
    font-size: 20px;
    color: #000;
}

.report-user {
    padding-top: 34px;
    font-size: 20px;
}

.report-number {
    font-size: 20px;
    color: #35539b;
}

.pay-kassa {
    padding-top: 38px;
    font-size: 20px;
    color: #35539b;
}

.pay-attention {
    color: #35539b;
}

.qiwi-title {
    font-size: 20px;
    color: #35539b;
    padding-top: 49px;
}

.qiwi-title {
    font-size: 20px;
    color: #35539b;
    padding-top: 49px;
}

.qiwi-description {
    padding-top: 22px;
    line-height: 1.2;
}

.qiwi-img {
    float: left;
    margin-right: 30px;
}

.bank-title {
    padding-top: 60px;
    font-size: 20px;
    color: #35539b;
}

.bank-description {
    padding-top: 28px;
    line-height: 1.2;
}

.bank-list {
    padding-top: 43px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.bank-item {
    width: 20%;
    padding-bottom: 40px;
}

.kazkom-title {
    font-size: 20px;
    padding-top: 14px;
    color: #35539b;
}

.kazkom-description {
    padding-top: 25px;
}

.kazkom-description a,
.qiwi-description a {
    text-decoration: underline;
}

.indications-text {
    font-size: 20px;
    color: #35539b;
    padding-top: 50px;
}

.form-indication {
    padding-top: 30px;
}

.form-indication .btn-info,
.form-indication .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-indication label {
    font-weight: normal;
}

.icon-print {
    background: url('/img/icon-print.png');
    width: 22px;
    height: 24px;
    display: inline-block;
}
.btn-print .icon-print {
    position: relative;
    top: 9px;
    right: -9px;
}

.btn-print {
    color: #464545;
    background: transparent;
}

.btn-print-text {
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .form-date .form-group + .form-group {
        margin-left: 0;
    }

    .btn-status {
        margin-top: 20px;
    }

    .bank-item {
        width: 30%;
        padding-bottom: 20px;
    }

    .report-date {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .bank-item {
        width: 50%;
    }
}