.main {
    padding-top: 40px;
}

.contact-info-title,
.contact-map-title {
    font-size: 17px;
    color: #464545;
    margin-bottom: 29px;
}

.contact-info-container {
    padding: 75px 62px;
}

.contact-info-company {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 14px;
}

.contact-info-site,
.contact-info-email,
.contact-info-email a {
    color: #36549c;
}

@media (min-width: 1340px) {
    .main .container {
        width: 1340px;
    }
}

@media (max-width: 767px) {
    .contact-info-title {
        margin-top: 20px;
    }

    .contact-info-container {
        padding: 20px;
    }
}