.gallery-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.gallery-item {
    flex-grow: 1;
    width: 33%;
    margin-bottom: 16px;
    padding-right: 10px;
}

.gallery {
    padding: 72px 60px;
}

.gallery-title {
    margin-bottom: 30px;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .form-date .form-group + .form-group {
        margin-left: 0;
    }

    .btn-status {
        margin-top: 20px;
    }

    .gallery-item {
        width: 50%;
    }

    .gallery {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
}
