.history-anons {
    line-height: 1.2;
    padding-bottom: 45px;
}

.history {
    padding: 56px 46px;
    color: #292929;
}

.icon-dot {
    background: #a4a4a4;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50px;
}

.history-list .icon-dot {
    position: relative;
    top: 5px;
    margin-left: 14px;
    margin-right: 19px;
    float: left;
}

.history-list {
    list-style: none;
    padding-top: 57px;
}

.history-text {
    margin-left: 91px;
    display: block;
    line-height: 1;
}

.history-year {
    float: left;
    font-size: 23px;
    color: #33519a;
    position: relative;
    top: -7px;
}

.history-item {
    clear: both;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .history-year {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }

    .history-list .icon-dot {
        display: none;
    }

    .history-text {
        margin-left: 0;
    }

    .history {
        padding: 20px;
    }
}