* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    min-height: 122px;
}

footer {
    min-height: 233px;
}

#content {
    min-height: calc(100% - (233px + 122px));
}

.header-top {
    background-color: #35539b;
    border-bottom: 3px solid #3684b2;
    color: #fff;
    font-size: 13px;
}

.header-top-link {
    color: #fff;
    text-transform: uppercase;
}

.header-top-search {
    width: 255px;
    margin-left: 131px;
}

.tools-cabinet-img,
.header-nav-pills,
.header-top-search,
.header-nav-tools {
    float: left;
}

.search-input-group {
    margin-top: 8px;
}

.header-top-search .form-control {
    height: 23px;
    border-radius: 50px;
    width: 223px;
    float: left;
}

.header-top-search .btn {
    float: left;
    background: transparent;
    padding: 2px 5px;
}

.header-nav-tools {
    margin-left: 15px;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.header-nav-tools .dropdown-lang {
    margin-left: 27px;
}

.tools-cabinet {
    margin-left: 46px;
}

.caret-custom {
    display: inline-block;
    height: 6px;
    width: 12px;
    background: url(/img/icon-caret.png) no-repeat center transparent;
    margin-bottom: 2px;
    margin-left: 1px;
}

.dropdown-lang .caret-custom {
    margin-left: 8px;
}

/*.tools-item.tools-cabinet {*/
/*margin-left: 37px !important;*/
/*}*/

.tools-cabinet-img {
    margin-right: 6px;
}

.header-top .nav > li > a:focus,
.header-top .nav > li > a:hover {
    text-decoration: none;
    background-color: #68b6e4;
    color: #fff;
}

.header-top .nav > li > a {
    padding: 10px 15px 8px;
}

.header-top .nav-pills > li > a {
    border-radius: 0;
}

.header .navbar-default {
    border-radius: 0;
    min-height: 82px;
    margin-bottom: 0;
}

.header-main .navbar-default .navbar-nav > li > a {
    color: #464545;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.header-main .navbar-nav {
    margin-top: 17px;
    margin-left: 33px;
}

.navbar-info {
    margin-top: 18px;
    margin-right: -6px;
}

.navbar-info-time {
    color: #38559c;
}

.navbar-info-phone {
    font-size: 23px;
    line-height: 1;
    color: #464545;
}

.owl-main.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -30px;
    position: relative;
}

.owl-main.owl-theme .owl-dots .owl-dot span {
    margin: 5px 2px;
}

.owl-main.owl-theme .owl-dots .owl-dot.active span,
.owl-main.owl-theme .owl-dots .owl-dot:hover span {
    background: #f4f4f4;
}

.owl-main.owl-theme .owl-dots .owl-dot span {
    background: #2a427c;
}

.company-title {
    padding-top: 68px;
    font-size: 17px;
    color: #464545;
}

.company-desc {
    font-size: 30px;
    line-height: 1;
    color: #33519a;
}

.company-logo {
    margin-top: 53px;
}

.service-title {
    font-size: 25px;
    padding-top: 51px;
    color: #464545;
}

.owl-service {
    padding-top: 48px;
}

.owl-service .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-service.owl-theme .owl-nav .owl-prev {
    margin-left: -50px;
}

.owl-service.owl-theme .owl-nav .owl-next {
    margin-right: -50px;
}

.owl-service.owl-carousel .owl-stage-outer {
    position: relative;
    z-index: 11;
}

.owl-service.owl-theme .owl-nav [class*=owl-]:hover,
.owl-service.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

.data,
.info {
    background: #f3f2f2;
}

.info {
    padding-top: 62px;
    padding-bottom: 62px;
}

.check {
    margin-top: 97px;
    position: relative;
}

.archive-title,
.news-title,
.even-title {
    font-size: 17px;
    color: #464545;
    text-transform: uppercase;
    padding-bottom: 23px;
}

.archive-yet-link,
.news-yet-link,
.even-yet-link {
    color: #68b6e4;
    font-size: 13px;
    text-transform: none;
}

.even-item-anons {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding-left: 30px;
}

.even-item-title {
    font-size: 17px;
    padding-bottom: 3px;
}

.even-item-date {
    font-size: 11px;
    padding-bottom: 17px;
}

.even-item + .even-item {
    margin-top: 13px;
}

.even-item {
    position: relative;
}

.news-item {
    background: #fff;
}

.news-item-top-left {
    float: left;
}

.news-item-top-anons {
    color: #464545;
}

.news-item-top-title {
    font-size: 17px;
}

.news-item-top-text {
    font-size: 13px;
    padding-top: 4px;
}

.news-item-top-date {
    font-size: 11px;
    color: #9e9e9e;
    padding-top: 18px;
}

.news-item-link,
.news-item-link:focus,
.news-item-link:hover {
    color: #464545;
    text-decoration: none;
}

.news-item-top-left {
    margin-right: 12px;
}

.news-item-top-anons {
    padding-top: 19px;
}

.news-item-top {
    margin-bottom: 20px;
}

.news-item-left-anons {
    padding: 22px 10px 7px 12px;
}

.news-item-left-title {
    font-size: 13px;
}

.news-item-left-text {
    font-size: 11px;
    margin-top: 6px;
    line-height: 1.2;
}

.news-item-left-date {
    font-size: 11px;
    color: #9e9e9e;
    margin-top: 8px;
}

.news-item-right-top {
    float: left;
    margin-right: 10px;
}

.news-item-right-anons {
    padding-top: 24px;
}

.news-item-right-title {
    line-height: 1.2;
    font-size: 13px;
}

.news-item-right-text {
    font-size: 11px;
    padding-top: 14px;
    line-height: 1.2;
}

.news-item-right-date {
    padding-top: 86px;
    padding-bottom: 12px;
    font-size: 10px;
    color: #9e9e9e;
}

.archive-list {
    background: #fff;
    padding: 30px 18px 0 23px;
}

.archive-item {
    padding-bottom: 21px;
}

.archive-item-text {
    line-height: 1.2;
    font-size: 13px;
}

.archive-item-date {
    padding-top: 14px;
    font-size: 10px;
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

.text-black {
    color: #000;
}

.data {
    padding-top: 20px;
    padding-bottom: 19px;
}

.icon-home {
    background: url("/img/icon-home.png");
    display: inline-block;
    width: 45px;
    height: 39px;
}

.icon-document {
    background: url("/img/icon-document.png");
    display: inline-block;
    width: 35px;
    height: 43px;
}

.icon-arrow-right {
    background: url("/img/icon-caret-right-blue.png");
    display: inline-block;
    width: 10px;
    height: 17px;
}

.data-left-title {
    font-size: 20px;
}

.data-left-box {
    padding-top: 26px;
    margin-top: 37px;
    padding-left: 40px;
}

.data-left-box {
    padding-top: 14px;
    margin-top: 37px;
    padding-left: 40px;
    padding-bottom: 29px;
}

.data-par-title .icon-home {
    position: relative;
    top: 12px;
    margin-right: 10px;
}

.data-par-title .icon-arrow-right {
    margin-left: 7px;
}

.data-par-title {
    font-size: 19px;
}

.data-list {
    padding-top: 40px;
}

.data-item {
    margin-bottom: 10px;
    font-size: 17px;
}

.data-par-title .icon-document {
    position: relative;
    top: 12px;
    margin-right: 10px;
}

.data-right {
    padding-top: 3px;
}

.data-right-title {
    font-size: 20px;
    line-height: 1;
}

.data-right-img {
    margin-top: 22px;
}

.check-btn,
.data-right .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.data-boss.text-uppercase.text-center {
    font-size: 18px;
    font-weight: bold;
    color: #464545;
    margin-top: 27px;
}

.data-right-buttons {
    padding-top: 16px;
}

.call {
    padding: 64px 0 64px;
    background: url(/img/bg-call-back.jpg) no-repeat;
    background-size: cover;
}

.call-title {
    font-size: 24px;
    padding-bottom: 29px;
}

.call-left .form-control {
    height: 30px;
}

.call .form-control {
    border-radius: 25px;
}

.call-left {
    padding-left: 211px;
    padding-right: 57px;
}

.call-right {
    padding-right: 185px;
}

#contactform-body {
    height: 170px;
}

.btn-call-back {
    margin-top: 14px;
    padding: 10px 50px;
    border-radius: 0;
}

.footer-company-img {
    float: left;
    margin-right: 11px;
}

.footer-company-left {
    float: left;
}

.footer-company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.footer-company {
    padding: 10px 0;
    color: #464545;
}

.footer-company-left,
.footer-company-right {
    min-height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info {
    background: #35539b;
    color: #fff;
}

.address-text {
    font-size: 12px;
    padding-top: 10px;
}

.call-phone-time {
    font-size: 11px;
}

.call-phone-link:hover,
.call-phone-link:focus,
.call-phone-link:active,
.call-phone-link {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link {
    text-decoration: none;
    color: #fff;
}

.call-phone-link {
    white-space: nowrap;
}

.footer-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-info {
    padding: 30px 0;
}

.social {
    padding-top: 13px;
}

.footer-nav {
    padding-left: 107px;
    padding-right: 65px;
}

.footer-bottom {
    color: #68b6e4;
    font-size: 12px;
}

.footer-bottom-site {
    text-align: right;
}

.footer-created-link:focus,
.footer-created-link:hover,
.footer-created-link {
    color: #68b6e4;
    text-decoration: none;
}

.footer-created-link,
.footer-bottom-site {
    padding-top: 11px;
}

.footer-created-link {
    display: inline-block;
}

.archive-item-text {
    color: #464545;
}

.archive-item-date {
    color: #9e9e9e;
}

.archive-item-link:hover,
.archive-item-link:focus,
.archive-item-link {
    text-decoration: none;
}

.navigation {
    background: url("/img/bg-navigation.jpg") no-repeat;
    background-size: cover;
    padding: 20px 0;
    color: #fff;
}

.navigation-breadcrumb {
    background: transparent;
}

.navigation-breadcrumb-link:focus,
.navigation-breadcrumb-link:hover,
.navigation-breadcrumb-link {
    color: #fff;
    text-decoration: none;
}

.navigation-breadcrumb {
    padding-left: 0;
    font-size: 13px;
    padding-top: 17px;
    margin-bottom: 0;
}

.navigation-title {
    font-size: 20px;
    padding-top: 0;
    margin-top: 2px;
}

.navigation-breadcrumb > .active {
    color: #ccc;
}

.navigation-breadcrumb > li + li:before {
    padding: 0 8px;
    content: url('/img/icon-arrow-left-navigation.png');
    position: relative;
    bottom: 2px;
}

.info-menu {
    background: url("/img/info-menu.jpg") #1a529f bottom left no-repeat;
    min-height: 480px;
    color: #fff;
}

.info-menu-title {
    font-size: 20px;
    padding-left: 27px;
}

.info-menu-item {
    font-size: 13px;
    padding: 5px 12px 5px 27px;
}

.info-menu-item.active,
.info-menu-item:hover,
.info-menu-item:focus {
    background-color: #4a75af;
}

.info-menu-link:hover,
.info-menu-link:focus {
    color: #fff;
    text-decoration: none;
}

.info-menu-link {
    color: #fff;
}

.main {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #f3f2f2;
}

.info-menu {
    padding: 19px 0;
}

.info-menu-list {
    padding-top: 17px;
}

.share {
    padding-top: 45px;
}

.icon-share {
    background: url('/img/icon-share.png');
    width: 15px;
    height: 17px;
    display: inline-block;
}

.share .icon-share {
    position: relative;
    top: 5px;
    margin-right: 11px;
}

.share-name {
    color: #292929;
    text-decoration: underline;
    font-size: 11px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-signup-logo-img {
    display: inline-block;
    position: relative;
    top: -8px;
    left: -14px;
}

.modal-signup-logo-text {
    font-size: 35px;
    color: #68b6e4;
}

.modal-signup .modal-body {
    padding: 71px 114px;
}

.modal-signup-logo {
    padding-bottom: 35px;
}

.modal-signup .btn-primary {
    border-radius: 0;
    padding: 8px 39px;
    float: left;
    margin-right: 59px;
}

.modal-signup .form-button {
    width: 460px;
    margin: auto;
    padding-top: 25px;
}

.modal-signup .form-control {
    padding: 6px 12px;
    text-align: center;
    height: 51px;
    border-radius: 24px;
    font-size: 25px;
}

.header-top .nav .open > a,
.header-top .nav .open > a:hover,
.header-top .nav .open > a:focus {
    background-color: #68b6e4;
    color: #fff;
}

.modal-signup-auth-link {
    display: block;
}

.call .alert:empty {
    display: none;
}

.owl-main.owl-carousel .owl-item .img-responsive {
    width: auto;
    margin: auto;
}

.check-img {
    margin: auto;
    pointer-events: none;
}

.check-container {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.check-box {
    color: #fff;
    float: right;
    width: 55%;
}

.check-title {
    font-size: 38px;
}

.check-form.text-center {
    padding-top: 25px;
}

.check-anons {
    color: #ccecff;
    padding-top: 15px;
    width: 300px;
    margin: auto;
}

.check-description {
    font-size: 13px;
}

.owl-service.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
}

.report-img-list {
    display: flex;
    justify-content: center;
}

.report-date {
    background: white;
    padding: 40px 34px;
}

.report-title {
    font-size: 20px;
    color: #33519a;
}

.report-body {
    padding-top: 20px;
}

/*      Large desktops and laptops      */
@media (min-width: 1200px) {
    .data .container,
    .info .container {
        width: 1225px;
    }

    .info-left {
        margin: 0;
        padding: 0;
        width: 359px;
    }

    .info-center {
        margin: 0;
        padding: 0 0 0 30px;
        width: 535px;
    }

    .news-item-img {
        height: 154px;
    }

    .news-item-left-img {
        height: 117px;
    }

    .news-left {
        padding-right: 0;
        width: 238px;
    }

    .news-item-right-img {
        height: 232px;
    }

    .news-right {
        padding-right: 0;
        width: 282px;
    }

    .info-right {
        padding-left: 28px;
        padding-right: 0;
        width: 331px;
    }

    .data-right {
        padding-left: 135px;
    }

    .data {
        padding-bottom: 66px;
    }

    .modal-signup .modal-content {
        border-radius: 0;
        min-height: 432px;
    }

    .modal-signup .modal-dialog {
        width: 925px;
    }
}

/*      Large desktops and laptops      */

/*      Medium devices Desktops         */
@media (min-width: 992px) and (max-width: 1199px) {

    .header-top-search {
        margin-left: 15px;
    }

    .header-top .nav > li > a {
        padding: 10px 10px 8px;
    }

    .header-main .navbar-default .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-main .navbar-nav {
        margin-left: 0;
    }

    .info-left {
        margin: 0;
        padding: 0;
        width: 359px;
    }

    .info-center {
        margin: 0;
        padding: 0 0 0 30px;
        width: 535px;
    }

    .news-item-img {
        height: 154px;
    }

    .news-item-left-img {
        height: 117px;
    }

    .news-left {
        padding-right: 0;
        width: 238px;
    }

    .news-item-right-img {
        height: 232px;
    }

    .news-right {
        padding-right: 0;
        width: 282px;
    }

    .info-right {
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .check-title {
        font-size: 30px;
    }

    .check-box {
        width: 59%;
    }

    .check-anons {
        padding-top: 5px;
    }

    .check-form.text-center {
        padding-top: 11px;
    }

}

/*      Medium devices Desktops         */

/*      Small devices Tablets           */
@media (min-width: 768px) and (max-width: 991px) {

    .header-top .nav > li > a {
        padding: 10px 5px 8px;
    }

    .header-top-search {
        margin-left: 10px;
    }

    .tools-cabinet-img {
        margin-right: 0;
    }

    .navbar-header,
    .header-main .navbar-brand {
        width: 100%;
        text-align: center;
    }

    .header-main .navbar-brand .img-responsive {
        margin: auto;
    }

    .header-main .navbar-nav {
        margin-top: 17px;
        margin-left: -33px;
    }

    .news-item-right-img,
    .news-item-img,
    .news-item-left-img {
        float: left;
        margin-right: 20px;
    }

    .news-item.news-item-left {
        margin-bottom: 20px;
    }

    .news-item-right-date,
    .news-item-left-date,
    .news-item-top-date {
        padding: 18px 0 0;
    }

    .news-item-top-anons,
    .news-item-right-anons,
    .news-item-left-anons {
        padding: 22px 10px 7px 12px;
    }

    .news-item-right-title,
    .news-item-left-title,
    .news-item-top-title {
        font-size: 17px;
        line-height: 1.2;
    }

    .news-item-right-text,
    .news-item-left-text,
    .news-item-top-text {
        font-size: 13px;
        padding-top: 4px;
        line-height: 1.2;
    }

    .news,
    .archive {
        padding-top: 20px;
    }

    .owl-service .owl-nav {
        pointer-events: none;
    }

    .owl-service {
        padding: 0 15px;
    }

    .owl-service .owl-nav [class*=owl-] {
        pointer-events: all;
    }

    .owl-service.owl-theme .owl-nav .owl-prev {
        margin-left: -30px;
    }

    .owl-service.owl-theme .owl-nav .owl-next {
        margin-right: 0;
    }

    .data-right {
        padding-top: 30px;
    }

    .call-left {
        padding-left: 0;
    }

    .call-right {
        padding-right: 15px;
    }

    .footer-created-link,
    .footer-bottom-site {
        width: 100%;
    }

    .footer-created-link,
    .footer-bottom-site,
    .address-text,
    .call-phone {
        text-align: center;
    }

    .info-menu {
        margin-bottom: 30px;
    }

    .check-container {
        position: static;
        display: block;
    }

    .check-box {
        float: none;
        width: 100%;
        color: #464545;
    }

    .check-anons {
        color: #000;
    }

    .check-title {
        padding-top: 20px;
    }

    .check-form.text-center {
        padding-bottom: 25px;
    }
}

/*      Small devices Tablets           */

/*      Extra small devices         */
@media (max-width: 767px) {

    .header-top .nav-pills > li > a {
        text-align: center;
    }

    .header-top-search {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .search-input-group {
        display: inline-block;
    }

    .header-main .navbar-brand {
        height: 86px;
    }

    .header-main .navbar-nav {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-info-time,
    .navbar-info-phone {
        text-align: center;
    }

    .owl-service .owl-nav {
        pointer-events: none;
    }

    .owl-service {
        padding: 0 15px;
    }

    .owl-service .owl-nav [class*=owl-] {
        pointer-events: all;
    }

    .owl-service.owl-theme .owl-nav .owl-prev {
        margin-left: -30px;
    }

    .owl-service.owl-theme .owl-nav .owl-next {
        margin-right: 0;
    }

    .news-item-right-img,
    .news-item-img,
    .news-item-left-img,
    .news-item-right-top,
    .news-item-top-left {
        float: none;

    }

    .news-item-top-left,
    .news-item-right-img,
    .news-item-img,
    .news-item-left-img,
    .news-item-right-top {
        margin-right: 0;
    }

    .news-item-right-img,
    .news-item-img,
    .news-item-left-img {
        width: auto;
        margin-bottom: 10px;
    }

    .news-item.news-item-left {
        margin-bottom: 20px;
    }

    .news-item-right-date,
    .news-item-left-date,
    .news-item-top-date {
        padding: 18px 0 0;
    }

    .news-item-top-anons,
    .news-item-right-anons,
    .news-item-left-anons {
        padding: 22px 10px 7px 12px;
    }

    .news-item-right-title,
    .news-item-left-title,
    .news-item-top-title {
        font-size: 17px;
        line-height: 1.2;
    }

    .news-item-right-text,
    .news-item-left-text,
    .news-item-top-text {
        font-size: 13px;
        padding-top: 4px;
        line-height: 1.2;
    }

    .news,
    .archive {
        padding-top: 20px;
    }

    .service-title,
    .info {
        padding-top: 20px;
    }

    .company-logo,
    .owl-service,
    .check {
        margin-top: 20px;
    }

    .company-title {
        padding-top: 0;
    }

    .header-main .navbar-default {
        margin-bottom: 0;
    }

    .data-right {
        padding-top: 30px;
    }

    .data-left-box {
        padding: 10px;
    }

    .data {
        padding-top: 20px;
    }

    .call-left {
        padding-left: 15px;
        padding-right: 15px;
    }

    .call-right {
        padding-right: 15px;
    }

    #callInputComment {
        height: auto;
    }

    .footer-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-created-link,
    .footer-bottom-site {
        width: 100%;
    }

    .footer-created-link,
    .footer-bottom-site,
    .address-text,
    .call-phone {
        text-align: center;
    }

    .navbar-info {
        padding-bottom: 20px;
    }

    .info-menu {
        margin-bottom: 30px;
    }

    .info-menu {
        min-height: inherit;
    }

    .modal-signup .modal-body {
        padding: 35px 50px;
    }

    .modal-signup-logo-text {
        font-size: 25px;
    }

    .check-container {
        position: static;
        display: block;
    }

    .check-box {
        float: none;
        width: 100%;
        color: #464545;
    }

    .check-anons {
        color: #000;
    }

    .check-title {
        padding-top: 20px;
    }

    .check-form.text-center {
        padding-bottom: 25px;
    }

    .header-top-search .form-control {
        height: inherit;
    }

    .header-top-search .btn {
        padding: 6px 12px;
    }
}

/*      Extra small devices         */

/*  Portrait phones and smaller     */
@media (max-width: 480px) {
    .header-top .header-nav-pills > li > a {
        padding: 10px 7px 8px;
    }

    .tools-cabinet-title {
        display: none;
    }

    .header-top .header-nav-pills > li {
        width: auto;
    }

    .modal-signup .form-button {
        width: 100%;
        margin: auto;
        padding-top: 25px;
    }

    .modal-signup .modal-body {
        padding: 30px 15px;
    }

    .modal-signup .btn-primary {
        padding: 8px 15px;
        margin-right: 5px;
    }

    .modal-signup-logo-text {
        font-size: 20px;
    }

    .check-title {
        font-size: 24px;
    }

    .check-anons {
        padding: 10px;
        width: 100%;
    }

}

/*  Portrait phones and smaller     */
